*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family:'Poppins', sans-serif; ;
}
body div.news {
    padding: 20px 30px;
    margin: 10px 20px;
    background-color: rgb(15, 15, 15);
    border-radius: 10px ;
}
body .header{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255,120,0);
}
.news p.titles{
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.news p.date{
    font-size: small;
    margin-top: 15px    ;
    opacity: 0.8;
    font-weight: 300;
}
.news p.message{
    font-size: 13px;
    font-weight: 300;
}
.news:hover{
    background-color:  rgb(255,110,0);
}
div .test ~ p{
    color: brown;
}
