* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
input{
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(187, 187, 187);
    padding: 2px 5px;
}
blockquote {
    margin: 15px 20px;
}
textarea{
    height: 120px;
    width: 255px;
}
legend {
    font-weight: 900;
    font-size: 12px;
    margin-left: 5px;
}

.p2 {
    font-size: 15px;
    margin-top: 5px;
}

.form {
    margin-left: 5px;
    font-size: 12px;
}
fieldset {
    margin-top: 20px;
    margin-right: 500px;
}
.button {
    border-width: 1px;
    font-weight: 550;
    border-radius: 3px;
    border-color: rgb(187, 187, 187);
    padding: 2px 5px;
    margin-bottom: 10px;
}

main {
    font-family: 'Roboto', sans-serif;;
    font-size: 12px;
    font-weight: 600;
}

table,
th,
td {
    font-weight: 450;
    font-size: 12px;
    border: 0.5px solid;
    border-collapse: separate;
}

.th {
    font-weight: 600;
    padding: 0px 190px;
}
.th2 {
    font-weight: 600;
    padding: 0px 140px;
}